name: Build

on:
  push:
    branches:
      - beta
      - main
  release:
    types:
      - created

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Download and extract latest release
        run: |
          curl -s https://api.github.com/repos/iterativv/NostalgiaForInfinity/releases/latest \
          | grep "zipball" \
          | cut -d '"' -f 4 \
          | wget -i - -O latest_release.zip
          unzip latest_release.zip
          RANDOM_FOLDER=$(ls -d */ | head -n 1)
          mv "$RANDOM_FOLDER"/* .
          rm -rf "$RANDOM_FOLDER"
          ls -l
          cp ./Docker/Dockerfile.custom ./Dockerfile

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
